@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
  --radius-5xl: 2.5rem;
}

@layer base {
  body {
    @apply bg-[#F9FAFB] text-zinc-900 antialiased;
  }
}

@layer components {
  .bento-card {
    @apply bg-white border border-zinc-100 rounded-4xl shadow-sm hover:shadow-xl hover:shadow-zinc-200/50 transition-all duration-500;
  }
  
  .glass-panel {
    @apply bg-white/80 backdrop-blur-xl border border-white/20 shadow-2xl;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
